<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="background">
<div class="main-container">
    <h1>Zotero MECA</h1>
    <p>A Metadata Extraction Citation Automation</p>
    <form method="POST" action="" enctype="multipart/form-data">
        {% if cookie_input %}
            <input type="text" placeholder="Enter Zotero Key" name="cookie">
            <input type="submit" value="Submit">
        {% else %}
            <input type="file" name="file[]" webkitdirectory="" directory="">
            <input type="submit" value="Submit">
        {% endif %}
    </form>
</div>
</body>
</html>